 [[language]]
    name = "typescript"
    auto-format = true
    formatter = { command = "prettier", args = ["--parser", "typescript"] }

 [[language]]
    name = "tsx"
    auto-format = true
    formatter = { command = "prettier", args = ["--parser", "typescript"] }
